{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container mt-3 mb-3">

    <form class="needs-validation" novalidate>

        <div class="row">
            <a href="{% url 'cart' %}" class="btn btn-success mb-4"> &#x2190 Volver al carrito</a> 
        </div>

        <div class="d-flex d-inline">
            <div class="col-md-6 me-2">
                <input type="text" placeholder="Nombre" class="form-control" id="validationCustom01" required>
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
            </div>
            <div class="col-md-6 ms-2">
                <input type="text" placeholder="Correo electrónico" class="form-control" id="validationCustom02"
                    required>
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
            </div>
        </div>

        <hr class="ms-5 me-5">

        <div class="d-flex d-inline">
            <div class="col-md-6 me-2 mb-2">
                <input type="text" placeholder="Dirección" class="form-control" id="validationCustom03" required>
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
            </div>
            <div class="col-md-6 ms-2 mb-2">
                <input type="text" placeholder="Ciudad" class="form-control" id="validationCustom04" required>
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
            </div>
        </div>

        <div class="d-flex d-inline">
            <div class="col-md-6 me-2 mb-2">
                <input type="" placeholder="Provínicia" class="form-control" id="validationCustom05" required>
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
            </div>
            <div class="col-md-6 ms-2 mb-2">
                <input type="text" placeholder="Código postal" class="form-control" id="validationCustom06" required>
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
            </div>
        </div>

        <hr class="ms-5 me-5">

        <div class="row ms-5 me-5 mt-4">
            <button class="btn btn-success mb-4" type="submit">Continuar</button>
        </div>

        <br>

    </form>

    <div class="row">
        <div class="col-12">
            <h3 class="fw-bold">Resumen del pedido</h3>
        </div>

        {% for item in items %}

        <!-- Products -->
        <div class="row pt-2 pb-2" style="border-top: solid 1px grey;">

            <!-- Image -->
            <div class="col-xl-1 col-md-2 col-sm-12 d-flex align-items-center">

                <img class="img-fluid" src="{{item.product.ImageURL}}">

            </div>

            <!-- Product name -->
            <div class="col-xl-4 col-md-4 col-sm-12 mt-2">

                <h5 class="fw-bold">{{item.product.name}}</h5>
                <p class="text-secondary">Order by 5pm, delivers Tomorrow - Fastest|Wed Sep 7 - Free</p>
                
                <ul>
                    <li>Opción de regalo</li>
                </ul>

            </div>

            <!-- Product price -->
            <div class="col-3 col-xl-2 col-md-2 col-sm-2 mt-3 mt-sm-2 d-flex align-items-center justify-content-center">

                <h5 class="text-secondary">{{item.product.price|floatformat:2}}€</h5>

            </div>

            <!-- Quantity -->
            <div class="col-6 col-xl-2 col-md-2 col-sm-8 mt-2 mt-sm-2 d-flex align-items-center justify-content-center">

                <p class="quantity">x{{item.quantity}}</p>

            </div>

            <!-- Total price -->
            <div class="col-3 col-xl-2 col-md-2 col-sm-1 mt-3 mt-sm-2 d-flex align-items-center justify-content-center">

                <h5 class="fw-bold text-success">{{item.get_total}}€</h5>

            </div>

        </div>

        {% endfor %}
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

</div>

{% endblock content %}