{% extends 'store/main.html' %}
{% load static %}
{% block title %} Moonlight | Registro {% endblock title %}

{% block content %}

<div class="container mt-5">

    <div class="row d-flex justify-content-center">

        <img class="img-fluid" src="{% static 'images/register.svg' %}" alt="register-new-user"
            style="max-width: 300px; max-height: 300px;">

    </div>

    <form class="mt-3" method="POST">

        {% csrf_token %}

        <!-- Username -->

        <div class="row">

            <div class="col">

                <label for="userNameInput" class="form-label">Nombre de usuario</label>
                {{form.username}}
                <div id="userNameHelp" class="form-text">Su nombre de usuario es el nombre con el que los demás usuarios
                    podrán identificarle. No tiene que ser su nombre real. 150 carácteres o menos. Símbolos permitidos:
                    @ / , / + / - / _</div>

            </div>

        </div>

        <!-- Username -->

        <hr>

        <!-- First Name, Last Name -->

        <div class="row d-flex flex-column flex-sm-row">

            <div class="col">

                <label for="firstNameInput" class="form-label">Nombre</label>
                {{form.first_name}}

            </div>

            <div class="col mt-2 mt-sm-0">

                <label for="lastNameInput" class="form-label">Apellidos</label>
                {{form.last_name}}

            </div>

        </div>

        <p class="text-muted small mt-1">Su nombre real y apellidos no serán compartidos con
            terceros y solo se usarán para personalizar envíos.</p>

        <!-- First Name, Last Name -->

        <hr>

        <!-- Email -->

        <div class="row">

            <div class="col">

                <label for="emailInput" class="form-label">Correo Electrónico</label>
                {{form.email}}
                <div id="emailHelp" class="form-text">Su correo electrónico no será compartido con ninguna entidad de
                    terceros.</div>
            </div>

        </div>

        <!-- Email -->

        <hr>

        <!-- Password, Confirm Password -->

        <div class="row d-flex flex-column flex-sm-row">

            <div class="col">

                <label for="password1Input" class="form-label">Contraseña</label>
                {{form.password1}}

            </div>

            <div class="col mt-2 mt-sm-0">

                <label for="password2Input" class="form-label">Confirmar Contraseña</label>
                {{form.password2}}

            </div>

        </div>

        <hr>

        <h5>Recuerda:</h5>

        <ul class="list-group-numbered list-group-flush mt-3 me-5">

            <li class="list-group-item list-group-item-info">Tu contraseña no puede parecerse a otra información
                personal.</li>
            <li class="list-group-item list-group-item-warning">Tu contraseña debe contener como mínimo 8 carácteres.
            </li>
            <li class="list-group-item list-group-item-info">Tu contranseña no debe ser comunmente usada.</li>
            <li class="list-group-item list-group-item-warning">Tu contraseña no puede ser completamente numérica.</li>

        </ul>

        <!-- Password, Confirm Password -->

        <hr>

        {% if form.errors %}

        <div class="bg-danger text-light rounded-3 p-1">

            <div class="mt-3">

                {{ form.errors }}

            </div>

        </div>

        {% endif %}

        <div class="d-flex justify-content-start mt-2">

            <a href="{% url 'login' %}" class="link-primary">¿Ya tiene una cuenta? Inicie Sesión</a>

        </div>

        <!-- Submit Button -->

        <div class="d-flex justify-content-center justify-content-sm-end mt-3 mb-5">

            <button class="btn btn-outline-success" type="submit">Registrarse</button>

        </div>

        <!-- Submit Button -->

    </form>

</div>

{% endblock content %}