{% extends 'store/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Moonlight | Configuración del Usuario {% endblock title %}

{% block content %}

<div class="container">

    <!-- Nav Links -->

    <ul class="nav nav-pills nav-fill d-flex align-items-center flex-column flex-xl-row mt-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="account-tab" data-bs-toggle="tab" href="#account" aria-controls="account"
                role="tab" aria-selected="true"><i class="fas fa-user me-2"></i>Cuenta</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="appereance-tab" data-bs-toggle="tab" href="#appereance" aria-controls="appereance"
                role="tab" aria-selected="false"><i class="fas fa-paint-brush me-2"></i>Apariencia</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="notifications-tab" data-bs-toggle="tab" href="#notifications"
                aria-controls="notifications" role="tab" aria-selected="false"><i
                    class="fas fa-bell me-2"></i>Notificaciones</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="about" data-bs-toggle="tab" href="#privacy-security"
                aria-controls="privacy-security" role="tab" aria-selected="false"><i
                    class="fas fa-shield-alt me-2"></i>Privacidad y Seguridad</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="help-support-tab" data-bs-toggle="tab" href="#help-support"
                aria-controls="help-support" role="tab" aria-selected="false"><i class="fas fa-headset me-2"></i>Ayuda y
                Soporte</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="about-tab" data-bs-toggle="tab" href="#About" aria-controls="About" role="tab"
                aria-selected="false"><i class="fas fa-info-circle me-2"></i>Acerca de</a>
        </li>

    </ul>

    <!-- Nav Links -->

    <hr class="bg-success" style="padding: 1px;">

    <!-- Tab Content -->

    <div class="tab-content mt-4" id="myTabContent">

        <!-- Account Tab -->

        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">

            <h4>Configuración de la cuenta</h4>

            <hr>

            <br>

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row justify-content-center align-items-center">
                    <img src="{{user.profile.image.url}}" alt="profile-picture" class="rounded-circle"
                        style="max-width: 300px; max-height: 300px;">
                </div>

                <div class="row d-flex justify-content-center mt-3 mb-1 ms-auto me-auto">

                    <div class="d-flex justify-content-center">

                        {{ p_form.image }}

                    </div>

                </div>

                <div class="row">

                    <div class="col">

                        <label class="ms-1 mt-2" for="userName">Nombre de Usuario</label>

                        {{ u_form.username }}

                        <p id="userNameHelp" class="text-muted small ms-1 mt-1">El nombre de usuario con el
                            que se
                            identificará en la página web.</p>

                    </div>

                </div>

                <hr>

                <div class="row">

                    <div class="col">

                        <label class="ms-1 mt-2" for="eMail">Correo electrónico</label>

                        {{ u_form.email }}

                        <p id="eMailHelp" class="text-muted small ms-1 mt-1">El correo electrónico con el que se
                            registró a la página web.</p>

                    </div>

                </div>

                <hr>

                <div class="row d-flex flex-column flex-md-row">

                    <div class="col">

                        <label class="ms-1 mt-2" for="fullName">Nombre</label>

                        {{ u_form.first_name }}

                    </div>

                    <div class="col">

                        <label class="ms-1 mt-2" for="lastName">Apellidos</label>

                        {{ u_form.last_name }}

                    </div>

                    <p class="text-muted small ms-1 mt-1">Su nombre real aparecerá aquí. Es el nombre que usaremos al
                        hacer los envíos.</p>

                </div>

                <hr>

                <div class="row">

                    <div class="col">

                        <label class="ms-1 mt-2" for="countrySelect">País</label>

                        <select class="form-select mt-1" id="countrySelect" aria-describedby="countrySelectHelp">
                        </select>

                        <p id="countrySelectHelp" class="text-muted small ms-1 mt-1">Su país de orígen nos ayudará a
                            identificarle.</p>

                    </div>

                    <div class="col">

                        <label class="ms-1 mt-2" for="fullName">Lenguaje</label>

                        <select class="form-select mt-1" id="languages" name="languages"
                            aria-describedby="languageHelp">
                            <option value="af">Afrikaans</option>
                            <option value="sq">Albanian - shqip</option>
                            <option value="am">Amharic - አማርኛ</option>
                            <option value="ar">Arabic - العربية</option>
                            <option value="an">Aragonese - aragonés</option>
                            <option value="hy">Armenian - հայերեն</option>
                            <option value="ast">Asturian - asturianu</option>
                            <option value="az">Azerbaijani - azərbaycan dili</option>
                            <option value="eu">Basque - euskara</option>
                            <option value="be">Belarusian - беларуская</option>
                            <option value="bn">Bengali - বাংলা</option>
                            <option value="bs">Bosnian - bosanski</option>
                            <option value="br">Breton - brezhoneg</option>
                            <option value="bg">Bulgarian - български</option>
                            <option value="ca">Catalan - català</option>
                            <option value="ckb">Central Kurdish - کوردی (دەستنوسی عەرەبی)</option>
                            <option value="zh">Chinese - 中文</option>
                            <option value="zh-HK">Chinese (Hong Kong) - 中文（香港）</option>
                            <option value="zh-CN">Chinese (Simplified) - 中文（简体）</option>
                            <option value="zh-TW">Chinese (Traditional) - 中文（繁體）</option>
                            <option value="co">Corsican</option>
                            <option value="hr">Croatian - hrvatski</option>
                            <option value="cs">Czech - čeština</option>
                            <option value="da">Danish - dansk</option>
                            <option value="nl">Dutch - Nederlands</option>
                            <option value="en">English</option>
                            <option value="en-AU">English (Australia)</option>
                            <option value="en-CA">English (Canada)</option>
                            <option value="en-IN">English (India)</option>
                            <option value="en-NZ">English (New Zealand)</option>
                            <option value="en-ZA">English (South Africa)</option>
                            <option value="en-GB">English (United Kingdom)</option>
                            <option value="en-US">English (United States)</option>
                            <option value="eo">Esperanto - esperanto</option>
                            <option value="et">Estonian - eesti</option>
                            <option value="fo">Faroese - føroyskt</option>
                            <option value="fil">Filipino</option>
                            <option value="fi">Finnish - suomi</option>
                            <option value="fr">French - français</option>
                            <option value="fr-CA">French (Canada) - français (Canada)</option>
                            <option value="fr-FR">French (France) - français (France)</option>
                            <option value="fr-CH">French (Switzerland) - français (Suisse)</option>
                            <option value="gl">Galician - galego</option>
                            <option value="ka">Georgian - ქართული</option>
                            <option value="de">German - Deutsch</option>
                            <option value="de-AT">German (Austria) - Deutsch (Österreich)</option>
                            <option value="de-DE">German (Germany) - Deutsch (Deutschland)</option>
                            <option value="de-LI">German (Liechtenstein) - Deutsch (Liechtenstein)</option>
                            <option value="de-CH">German (Switzerland) - Deutsch (Schweiz)</option>
                            <option value="el">Greek - Ελληνικά</option>
                            <option value="gn">Guarani</option>
                            <option value="gu">Gujarati - ગુજરાતી</option>
                            <option value="ha">Hausa</option>
                            <option value="haw">Hawaiian - ʻŌlelo Hawaiʻi</option>
                            <option value="he">Hebrew - עברית</option>
                            <option value="hi">Hindi - हिन्दी</option>
                            <option value="hu">Hungarian - magyar</option>
                            <option value="is">Icelandic - íslenska</option>
                            <option value="id">Indonesian - Indonesia</option>
                            <option value="ia">Interlingua</option>
                            <option value="ga">Irish - Gaeilge</option>
                            <option value="it">Italian - italiano</option>
                            <option value="it-IT">Italian (Italy) - italiano (Italia)</option>
                            <option value="it-CH">Italian (Switzerland) - italiano (Svizzera)</option>
                            <option value="ja">Japanese - 日本語</option>
                            <option value="kn">Kannada - ಕನ್ನಡ</option>
                            <option value="kk">Kazakh - қазақ тілі</option>
                            <option value="km">Khmer - ខ្មែរ</option>
                            <option value="ko">Korean - 한국어</option>
                            <option value="ku">Kurdish - Kurdî</option>
                            <option value="ky">Kyrgyz - кыргызча</option>
                            <option value="lo">Lao - ລາວ</option>
                            <option value="la">Latin</option>
                            <option value="lv">Latvian - latviešu</option>
                            <option value="ln">Lingala - lingála</option>
                            <option value="lt">Lithuanian - lietuvių</option>
                            <option value="mk">Macedonian - македонски</option>
                            <option value="ms">Malay - Bahasa Melayu</option>
                            <option value="ml">Malayalam - മലയാളം</option>
                            <option value="mt">Maltese - Malti</option>
                            <option value="mr">Marathi - मराठी</option>
                            <option value="mn">Mongolian - монгол</option>
                            <option value="ne">Nepali - नेपाली</option>
                            <option value="no">Norwegian - norsk</option>
                            <option value="nb">Norwegian Bokmål - norsk bokmål</option>
                            <option value="nn">Norwegian Nynorsk - nynorsk</option>
                            <option value="oc">Occitan</option>
                            <option value="or">Oriya - ଓଡ଼ିଆ</option>
                            <option value="om">Oromo - Oromoo</option>
                            <option value="ps">Pashto - پښتو</option>
                            <option value="fa">Persian - فارسی</option>
                            <option value="pl">Polish - polski</option>
                            <option value="pt">Portuguese - português</option>
                            <option value="pt-BR">Portuguese (Brazil) - português (Brasil)</option>
                            <option value="pt-PT">Portuguese (Portugal) - português (Portugal)</option>
                            <option value="pa">Punjabi - ਪੰਜਾਬੀ</option>
                            <option value="qu">Quechua</option>
                            <option value="ro">Romanian - română</option>
                            <option value="mo">Romanian (Moldova) - română (Moldova)</option>
                            <option value="rm">Romansh - rumantsch</option>
                            <option value="ru">Russian - русский</option>
                            <option value="gd">Scottish Gaelic</option>
                            <option value="sr">Serbian - српски</option>
                            <option value="sh">Serbo-Croatian - Srpskohrvatski</option>
                            <option value="sn">Shona - chiShona</option>
                            <option value="sd">Sindhi</option>
                            <option value="si">Sinhala - සිංහල</option>
                            <option value="sk">Slovak - slovenčina</option>
                            <option value="sl">Slovenian - slovenščina</option>
                            <option value="so">Somali - Soomaali</option>
                            <option value="st">Southern Sotho</option>
                            <option value="es">Spanish - español</option>
                            <option value="es-AR">Spanish (Argentina) - español (Argentina)</option>
                            <option value="es-419">Spanish (Latin America) - español (Latinoamérica)</option>
                            <option value="es-MX">Spanish (Mexico) - español (México)</option>
                            <option value="es-ES">Spanish (Spain) - español (España)</option>
                            <option value="es-US">Spanish (United States) - español (Estados Unidos)</option>
                            <option value="su">Sundanese</option>
                            <option value="sw">Swahili - Kiswahili</option>
                            <option value="sv">Swedish - svenska</option>
                            <option value="tg">Tajik - тоҷикӣ</option>
                            <option value="ta">Tamil - தமிழ்</option>
                            <option value="tt">Tatar</option>
                            <option value="te">Telugu - తెలుగు</option>
                            <option value="th">Thai - ไทย</option>
                            <option value="ti">Tigrinya - ትግርኛ</option>
                            <option value="to">Tongan - lea fakatonga</option>
                            <option value="tr">Turkish - Türkçe</option>
                            <option value="tk">Turkmen</option>
                            <option value="tw">Twi</option>
                            <option value="uk">Ukrainian - українська</option>
                            <option value="ur">Urdu - اردو</option>
                            <option value="ug">Uyghur</option>
                            <option value="uz">Uzbek - o‘zbek</option>
                            <option value="vi">Vietnamese - Tiếng Việt</option>
                            <option value="wa">Walloon - wa</option>
                            <option value="cy">Welsh - Cymraeg</option>
                            <option value="fy">Western Frisian</option>
                            <option value="xh">Xhosa</option>
                            <option value="yi">Yiddish</option>
                            <option value="yo">Yoruba - Èdè Yorùbá</option>
                            <option value="zu">Zulu - isiZulu</option>
                        </select>

                        <p id="languageHelp" class="text-muted small ms-1 mt-1">Su lenguaje preferido nos dirá como
                            debemos hablarle.</p>

                    </div>

                </div>

                <hr>

                <div class="row d-flex flex-column flex-md-row">

                    <div class="col align-items-center">

                        <label class="ms-1 mt-2" for="location">Ubicación</label>

                        <input type="text" class="form-control" id="location" placeholder="Introduzca su ubicación"
                            aria-describedby="locationHelp">

                        <p id="locationHelp" class="text-muted small ms-1 mt-1">Usaremos su ubicación para personalizar
                            su experiencia.</p>

                    </div>

                    <div class="col">

                        <label class="ms-1 mt-2" for="zipCode">CP</label>

                        <input type="text" class="form-control" id="zipCode" placeholder="Introduzca su Código Postal"
                            aria-describedby="zipHelp">

                        <p id="zipHelp" class="text-muted small ms-1 mt-1">El código postal nos dirá donde debemos
                            enviar los pedidos.</p>

                    </div>

                </div>

                <hr>

                <div class="form-group small text-muted ms-1">
                    La información contenida en esta página no será publicada ni compartida con ninguna entidad de
                    terceros.
                </div>

                <br>

                <div class="form-"></div>

                <div class="d-flex justify-content-center justify-content-md-start mt-2 mb-4">
                    <button type="submit" class="btn btn-success">Aplicar Cambios</button>
                    <button type="reset" class="btn btn-outline-success ms-2">Restablecer Cambios</button>
                </div>

            </form>

        </div>

        <!-- Account Tab -->

        <!-- Appereance Tab -->

        <div class="tab-pane fade" id="appereance" role="tabpanel" aria-labelledby="appereance-tab">

            <h4>Configuración de la apariencia</h4>

            <hr>

            <br>

            <div class="row justify-content-center align-items-center flex-column flex-md-row">

                <div class="col" style="max-width: 20rem; min-width: 20.1rem; min-height: 14rem;">

                    <div class="card">

                        <img src="{% static 'images/light-theme.png' %}" class="card-header card-img-top"
                            alt="light-theme"
                            style="max-width: 300px; min-width: 300px; max-height: 150px; min-height: 150px;">

                        <div class="card-body">

                            <h5 class="card-title">Tema claro</h5>
                            <p class="card-text">Por defecto activado. Cambia los colores de la página a colores claros.
                            </p>

                        </div>

                        <div class="card-footer">

                            <div class="form-check">

                                <label class="form-check-label" for="activateLightMode"><input class="form-check-input"
                                        type="radio" name="themeRadio" id="activateLightMode"
                                        value="{% static 'css/main.css' %}" checked>Activar</label>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col" style="max-width: 20rem; min-width: 20.1rem; min-height: 14rem;">

                    <div class="card">

                        <img src="{% static 'images/dark-theme.png' %}" class="card-header card-img-top"
                            alt="dark-theme"
                            style="max-width: 300px; min-width: 300px; max-height: 150px; min-height: 150px;">

                        <div class=" card-body">

                            <h5 class="card-title">Tema oscuro</h5>
                            <p class="card-text">Cambia los colores de la página a colores oscuros. Ideal para la noche.
                            </p>

                        </div>

                        <div class="card-footer">

                            <div class="form-check">

                                <label class="form-check-label" for="activateDarkMode"><input class="form-check-input"
                                        type="radio" name="themeRadio" id="activateDarkMode"
                                        value="{% static 'css/dark.css' %}">Activar</label>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <br>

            <div class="form-group small text-muted ms-1">
                Podrá cambiar el tema de colores de la página web en cualquier momento. Estas opciones solo estan
                disponibles para usuarios registrados.
            </div>

            <hr>

            <div class="d-flex justify-content-center justify-content-md-start mt-1 mb-2">
                <button id="applyTheme" type="submit" class="btn btn-success">Aplicar Cambios</button>
            </div>

        </div>

        <!-- Appereance Tab -->

        <!-- Notifications Tab -->

        <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">

            <h4>Configuración de las notificaciones</h4>

            <hr>

            <br>

            <div class="row ms-1">

                <div class="form-check form-switch">

                    <input class="form-check-input" type="checkbox" id="browserNotifications">
                    <label class="form-check-label" for="browserNotifications">Recibir notificaciones desde el
                        navegador</label>

                </div>

                <div class="form-switch">

                    <p class="text-muted small">
                        Marque esta opción si desea recibir notificaciones referentes a la página web desde el
                        navegador.
                    </p>

                </div>

                <hr class="bg-success mt-3 mb-3">

            </div>

            <div class="row d-flex ms-1 mt-3">

                <div class="form-check form-switch">

                    <input class="form-check-input" type="checkbox" id="mobileNotifications">
                    <label class="form-check-label" for="mobileNotifications">Recibir notificaciones desde el
                        móvil</label>

                </div>

                <div class="form-switch">

                    <p class="text-muted small">
                        Marque esta opción si desea recibir notificaciones referentes a la página web desde el móvil.
                    </p>

                </div>

                <hr class="bg-success mt-3 mb-3">

            </div>

            <div class="row d-flex ms-1 mt-3">

                <div class="form-check form-switch">

                    <input class="form-check-input" type="checkbox" id="newsletterNotifications">
                    <label class="form-check-label" for="newsletterNotifications">Suscribirse a la newsletter</label>

                </div>

                <div class="form-switch">

                    <p class="text-muted small">
                        Marque esta opción si desea suscribirse a la newsletter.
                    </p>

                </div>

                <hr class="bg-success mt-3 mb-3">

            </div>

        </div>

        <!-- Notifications Tab -->


        <!-- Privacy & Security Tab -->

        <div class="tab-pane fade" id="privacy-security" role="tabpanel" aria-labelledby="privacy-security-tab">

            <h4>Configuración de privacidad</h4>

            <hr>

            <br>


            <div class="row">



            </div>


        </div>

        <!-- Privacy & Security Tab -->

        <!-- Help % Support Tab -->

        <div class="tab-pane fade" id="help-support" role="tabpanel" aria-labelledby="help-support-tab">

            <h4>Ayuda y soporte</h4>

            <hr>

            <br>

        </div>

        <!-- Help % Support Tab -->

        <!-- About Tab -->

        <div class="tab-pane fade" id="About" role="tabpanel" aria-labelledby="about-tab">

            <h4>Acerca de la configuración</h4>

            <hr>

            <br>

        </div>

        <!-- About Tab -->

    </div>

    <!-- Nav Content -->

</div>

<script>

    // Restcountries API.
    document.addEventListener('DOMContentLoaded', () => {

        const countrySelect = document.getElementById('countrySelect');

        fetch('https://restcountries.eu/rest/v2/all').then(res => {
            return res.json();
        }).then(data => {
            let countries = "";

            data.forEach(element => {
                countries += `<option>${element.translations.es}</option>`;
            })

            countrySelect.innerHTML = countries;
        }).catch(err => {
            console.log(err);
        })

    })

    const btn = document.querySelector('#applyTheme');
    // On button click
    btn.onclick = function () {
        const radioButtons = document.querySelectorAll('input[name="themeRadio"]');
        let selectedValue;
        for (const radioButton of radioButtons) {
            if (radioButton.checked) {
                selectedValue = radioButton.value;
                // Change between dark mode and light mode.
                document.getElementById("mystylesheet").href = selectedValue
                break;
            }
        }
    };

</script>

{% endblock content %}