{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<div class="container">

    <nav class="nav nav-pills flex-column flex-sm-row mt-3">

        <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="account-tab" data-bs-toggle="tab" href="#account" aria-controls="account"
                    role="tab" aria-selected="true">Account</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link" id="notifications-tab" data-bs-toggle="tab" href="#notifications"
                    aria-controls="notifications" role="tab" aria-selected="false">Notifications</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link" id="appereance-tab" data-bs-toggle="tab" href="#appereance"
                    aria-controls="appereance" role="tab" aria-selected="false">Appereance</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link" id="about" data-bs-toggle="tab" href="#privacy-security"
                    aria-controls="privacy-security" role="tab" aria-selected="false">Privacy & Security</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link" id="help-support-tab" data-bs-toggle="tab" href="#help-support"
                    aria-controls="help-support" role="tab" aria-selected="false">Help & Support</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link" id="about-tab" data-bs-toggle="tab" href="#About" aria-controls="About" role="tab"
                    aria-selected="false">About</a>
            </li>


        </ul>


        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                <p>Account</p>
            </div>

            <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
                <p>Notifications</p>
            </div>

            <div class="tab-pane fade" id="appereance" role="tabpanel" aria-labelledby="appereance-tab">
                <p>Appereance</p>
            </div>

            <div class="tab-pane fade" id="privacy-security" role="tabpanel" aria-labelledby="privacy-security-tab">
                <p>Privacy & Security</p>
            </div>

            <div class="tab-pane fade" id="help-support" role="tabpanel" aria-labelledby="help-support-tab">
                <p>Help & Support</p>
            </div>

            <div class="tab-pane fade" id="About" role="tabpanel" aria-labelledby="about-tab">
                <p>About</p>
            </div>

        </div>

    </nav>

</div>


{% endblock content %}