{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<div class="container">

    <!-- Nav Links -->

    <ul class="nav nav-pills nav-fill d-flex align-items-center flex-column flex-xl-row mt-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="account-tab" data-bs-toggle="tab" href="#account" aria-controls="account"
                role="tab" aria-selected="true"><i class="fas fa-user me-2"></i>Cuenta</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="notifications-tab" data-bs-toggle="tab" href="#notifications"
                aria-controls="notifications" role="tab" aria-selected="false"><i
                    class="fas fa-bell me-2"></i>Notificaciones</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="appereance-tab" data-bs-toggle="tab" href="#appereance" aria-controls="appereance"
                role="tab" aria-selected="false"><i class="fas fa-paint-brush me-2"></i>Apariencia</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="about" data-bs-toggle="tab" href="#privacy-security"
                aria-controls="privacy-security" role="tab" aria-selected="false"><i
                    class="fas fa-shield-alt me-2"></i>Privacidad y Seguridad</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="help-support-tab" data-bs-toggle="tab" href="#help-support"
                aria-controls="help-support" role="tab" aria-selected="false"><i class="fas fa-headset me-2"></i>Ayuda y
                Soporte</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="about-tab" data-bs-toggle="tab" href="#About" aria-controls="About" role="tab"
                aria-selected="false"><i class="fas fa-info-circle me-2"></i>Acerca de</a>
        </li>

    </ul>

    <!-- Nav Links -->

    <hr class="bg-success" style="padding: 1px;">

    <!-- Nav Content -->

    <div class="tab-content mt-4" id="myTabContent">

        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
            <h4>Configuración de la cuenta</h4>

            <hr>

            <br>

            <form>

                <div class="row">

                    <div class="col">

                        <label class="ms-1 mt-2" for="userName">Nombre de Usuario</label>

                        <input type="text" class="form-control mt-1" id="userName"
                            placeholder="Introduzca su nombre de usuario" aria-describedby="userNameHelp">

                        <p id="userNameHelp" class="text-muted small ms-1 mt-1">El nombre de usuario con el que se
                            identificará en la página web.</p>

                    </div>

                </div>

                <hr>

                <div class="row">

                    <div class="col">

                        <label class="ms-1 mt-2" for="fullName">Nombre Completo</label>

                        <input type="text" class="form-control mt-1" id="fullName" aria-describedby="fullNameHelp"
                            placeholder="Introduzca su nombre completo">

                        <p id="fullNameHelp" class="text-muted small ms-1 mt-1">Su nombre real aparecerá aquí. Es el
                            nombre que usaremos al hacer los envíos.</p>

                    </div>

                    <div class="col">

                        <label class="ms-1 mt-2" for="countrySelect">País</label>

                        <select class="form-select mt-1" id="countrySelect"
                            aria-describedby="countrySelectHelp"></select>

                        <p id="countrySelectHelp" class="text-muted small ms-1 mt-1">Su país de orígen nos ayudará a
                            identificarle.</p>

                    </div>

                    <div class="col">

                        <label class="ms-1 mt-2" for="fullName">Lenguaje</label>

                        <select class="form-select mt-1" id="languageSelect"
                            aria-describedby="countrySelectHelp"></select>

                        <p id="fullNameHelp" class="text-muted small ms-1 mt-1">Su lenguaje preferido nos dirá como
                            debemos hablarle.</p>

                    </div>

                </div>

                <hr>

                <div class="row">


                    <div class="col align-items-center">

                        <label class="ms-1 mt-2" for="location">Ubicación</label>

                        <input type="text" class="form-control" id="location" placeholder="Introduzca su ubicación"
                            aria-describedby="locationHelp">

                        <p id="locationHelp" class="text-muted small ms-1 mt-1">Usaremos su ubicación para personalizar
                            su experiencia.</p>

                    </div>

                    <div class="col">

                        <label class="ms-1 mt-2" for="zipCode">CP</label>

                        <input type="text" class="form-control" id="zipCode" placeholder="Introduzca su Código Postal"
                            aria-describedby="zipHelp">

                        <p id="zipHelp" class="text-muted small ms-1 mt-1">El código postal nos dirá donde debemos
                            enviar los pedidos.</p>

                    </div>

                </div>

                <hr>

                <div class="form-group small text-muted ms-1">
                    La información contenida en esta página no será publicada ni compartida con ninguna entidad de
                    terceros.
                </div>

                <br>

                <button type="button" class="btn btn-success">Aplicar Cambios</button>
                <button type="reset" class="btn btn-outline-success">Restablecer Cambios</button>

            </form>





        </div>













        <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
            <h4>Configuración de las notificaciones</h4>
        </div>

        <div class="tab-pane fade" id="appereance" role="tabpanel" aria-labelledby="appereance-tab">
            <h4>Configuración de la apariencia</h4>
        </div>

        <div class="tab-pane fade" id="privacy-security" role="tabpanel" aria-labelledby="privacy-security-tab">
            <h4>Configuración de privacidad</h4>
        </div>

        <div class="tab-pane fade" id="help-support" role="tabpanel" aria-labelledby="help-support-tab">
            <h4>Ayuda y soporte</h4>
        </div>

        <div class="tab-pane fade" id="About" role="tabpanel" aria-labelledby="about-tab">
            <h4>Acerca de la configuración</h4>
        </div>

    </div>

    <!-- Nav Content -->

</div>

<script>

    document.addEventListener('DOMContentLoaded', () => {

        const countrySelect = document.getElementById('countrySelect');
        const languageSelect = document.getElementById('languageSelect')

        fetch('https://restcountries.eu/rest/v2/all').then(res => {
            return res.json();
        }).then(data => {
            let countries = "";
            let languages = "";

            data.forEach(element => {
                countries += `<option>${element.translations.es}</option>`;
                languages += `<option>${element.languages[0].nativeName}</option>`;
            })

            countrySelect.innerHTML = countries;
            languageSelect.innerHTML = languages;
        }).catch(err => {
            console.log(err);
        })

    })

</script>


{% endblock content %}