{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!-- Section -->
<div class="container mt-2 mb-2">

    <div class="row">
        <div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Search">
                <button class="btn btn-success" type="submit">Buscar</button>
                <button class="btn btn-success ms-2"><i class="fas fa-filter"></i></button>
            </form>
        </div>
    </div>

    <div class="row d-flex justify-content-center justify-content-sm-center mt-2 ms-1 me-1">

        {% for product in products %}

        <div class="card bg-glass" style="width: 22rem;">

            <div class="card-header bg-transparent border-0">
                <img src="{{product.ImageURL}}" class="card-img-top" alt="{{product.name}}"
                    style="min-height: 200px; min-width: 300px; max-width: 300px;">
                <!-- <span id="cart-total" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger p-1">Oferta</span> -->
            </div>

            <div class="card-body d-flex mt-auto mb-auto flex-column align-items-center justify-content-center">
                <h5 class="card-title text-center text-success fw-bold">{{product.name}}</h5>
                <p class="card-text">{{product.description|default_if_none:""}}</p>
            </div>

            <div class="card-footer bg-transparent border-0 d-flex d-inline justify-content-center">
                <button data-product="{{product.id}}" data-action="add"
                    class="btn btn-outline-success mb-2 mt-2 add-btn update-cart"
                    style="margin-right: 5px; width: 100px;">Añadir</button>
                <button class="btn btn-outline-success mb-2 mt-2" style="margin-right: 5px; width: 100px;">Ver</button>
            </div>

        </div>

        {% endfor %}

    </div>

</div>

<!-- End Section -->

{% endblock content %}