{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!-- Section -->
<div class="container flex justify-content-center">

    <div class="row">
        <div class="">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Search">
                <button class="btn btn-success" type="submit">Buscar</button>
                <button class="btn btn-success ms-2"><i class="fas fa-filter"></i></button>
            </form>
        </div>
    </div>

    <div class="row text-center">

        <div class="col bg-glass">
            <div class="container img-fluid image"></div>
            <div class="container">
                <h5>Producto 1</h5>
                <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, officia.</p>
                <h5 class="text-success">7.99€</h5>
                <button class="btn btn-outline-success mb-2 mt-2" style="margin-right: 5px;">Añadir al carrito</button>
            </div>
        </div>

        <div class="col bg-glass">
            <div class="container img-fluid image"></div>
            <div class="container">
                <h5>Producto 2</h5>
                <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, officia.</p>
                <h5 class="text-success">7.99€</h5>
                <button class="btn btn-outline-success mb-2 mt-2" style="margin-right: 5px;">Añadir al carrito</button>
            </div>
        </div>

        <div class="col bg-glass">
            <div class="container img-fluid image"></div>
            <div class="container">
                <h5>Producto 3</h5>
                <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, officia.</p>
                <h5 class="text-success">7.99€</h5>
                <button class="btn btn-outline-success mb-2 mt-2" style="margin-right: 5px;">Añadir al carrito</button>
            </div>
        </div>

    </div>

    <div class="row text-center">

        <div class="col bg-glass">
            <div class="container img-fluid image2"></div>
            <div class="container">
                <h5>Producto 4</h5>
                <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, officia.</p>
                <h5 class="text-success">7.99€</h5>
                <button class="btn btn-outline-success mb-2 mt-2" style="margin-right: 5px;">Añadir al carrito</button>
            </div>
        </div>

        <div class="col bg-glass">
            <div class="container img-fluid image2"></div>
            <div class="container">
                <h5>Producto 5</h5>
                <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, officia.</p>
                <h5 class="text-success">7.99€</h5>
                <button class="btn btn-outline-success mb-2 mt-2" style="margin-right: 5px;">Añadir al carrito</button>
            </div>
        </div>

        <div class="col bg-glass">
            <div class="container img-fluid image2"></div>
            <div class="container">
                <h5>Producto 6</h5>
                <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, officia.</p>
                <h5 class="text-success">7.99€</h5>
                <button class="btn btn-outline-success mb-2 mt-2" style="margin-right: 5px;">Añadir al carrito</button>
            </div>
        </div>

    </div>

</div>
<!-- End Section -->

{% endblock content %}